<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LOGIN</title>
		<link rel="stylesheet" href="../../static/index8/index.css" />
	</head>
	<body>
		<form class="login" action="http://127.0.0.1:5000/check/" method="post">
			<h2>用户登录</h2>
			<div class="login_box">
				<input type="text" name="name" required /><label>用户名</label>
			</div>
			<div class="login_box">
				<input type="password" required="required" name="password" /><label>密码</label>
			</div>
			<input type="submit" class="a" value="登录">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</input>
		</form>
	</body>
</html>
